body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.page {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Start page */
#start-page {
  background-image: url('../assets/images/start_img.png');
}

/* Description page */
#description-page {
  background-image: url('../assets/images/description_img.png');
  background-size: cover;
  background-position: center;
  position: relative;
}

.arrow {
  position: absolute;
  font-size: 6vw;
  color: #3F0096;
  cursor: pointer;
  bottom: 20%;
  right: 23%;
  opacity: 1;
}

/* Camera page */
#camera-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../assets/images/camera_frame.png');
}

#camera-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

#camera {
  width: 95%;
  height: 95%;
  object-fit: cover;
  position: absolute;
  top: 3%;
  left: 2%;
}

#countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  color: #3F0096;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2vw;
  border-radius: 10px;
  display: none;
}

/* Loading page */
.box {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 65%;
  max-width: 1200px;
  aspect-ratio: 16 / 9;
  background-color: #c6c6c6;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image_text {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 5vw;
  text-align: center;
  width: 80%;
  z-index: 10px;
}

/* result page */
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('../assets/images/background.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.text>img {
  position: absolute;
  z-index: 10;
  width: 30%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.result {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 50%;
  height: 50%;
  background-color: #c6c6c6;
}

.characters {
  position: absolute;
  bottom: 10%; 
  left: 50%;
  transform: translateX(-50%); 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

.toFrame {
  position: absolute;
  bottom: 50px;
  right: 40px;
}

.toFrame>img {
  cursor: pointer;
}

#timer {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}